<mat-toolbar class="background-primary">
  <span></span>
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button routerLink="/courses-certifications" routerLinkActive="active"><span class="fa fa-certificate fa-lg"></span> Courses & Certifications</a>
  <a mat-button routerLink="/work" routerLinkActive="active"><span class="fa fa-briefcase fa-lg"></span> Work Experience</a>
  <a mat-button routerLink="/research" routerLinkActive="active"><span class="fa fa-search fa-lg"></span> Research Experience</a>
  <span class="flex-spacer"></span>
</mat-toolbar>

