<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h2>About Me!</h2>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="40">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>General Information</h3>
            </mat-card-title>
            <mat-card-subtitle>
              Just to know me better
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table>
              <tr>
                <th style="text-align: left;">Born on</th>
                <td class="answer">20th of April, 1998 [Yes, 420 xD]</td>
              </tr>
              <tr>
                <th style="text-align: left;">Birth Place</th>
                <td class="answer">Egypt</td>
              </tr>
              <tr>
                <th style="text-align: left;">Grew up in</th>
                <td class="answer">Dubai, United Arab Emirates</td>
              </tr>
              <tr>
                <th style="text-align: left;"></th>
                <td class="answer"></td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="40" class="cards-spacing">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>Education <span class="fa fa-graduation-cap fa-lg"></span></h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dt><strong>High School</strong></dt>
            <dd class="card-content-spacing">Some school you will not know in UAE</dd>
            <dt><strong>Bachelor's Degree</strong></dt>
            <dd>Bachelor of Science in Mechanical Engineering</dd>
            <dd><i>University of Sharjah</i></dd>
            <dd class="card-content-spacing">Graduated on May, 2020 (Covid19 Batch)</dd>
            <dt><strong>Master's Degree</strong></dt>
            <dd>Master of Science in Power Engineering</dd>
            <dd><i>Politechnika Warszawska</i></dd>
            <dd class="card-content-spacing">Expected graduation on February, 2022</dd>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>