<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" 
  fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" 
  fxLayoutGap="10px">
  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Welcome to my Portfolio!</h1>
    <p>Please take a look at all the tabs to get to know me and to be sure that I fit for your job!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="./assets/images/header-photo.jpg" alt="Profile" height="600" width="400">
  </div>
</div>